
@{
	ViewData["Title"] = "LogPlay - Loja";
}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/Loja/loja.css">
        <title>@ViewData["Title"]</title>
    </head>

<body>
    <header>
        <h1>Loja de Itens</h1>
        <div class="moedas">Suas Moedas: <span id="moedas-usuario">1000</span></div>
    </header>
    <div class="scrollable-content">
        <table class="item-table">
            <tr>
                <td class="item">
                    <img src="item1.jpg" alt="Item 1">
                    <h2>Bônus de XP</h2>
                    <p>Te dá um bônus de XP de 75%</p>
                    <p>500 moedas</p>
                    <button>Comprar</button>
                </td>

                <td class="item">
                    <img src="item2.jpg" alt="Item 2">
                    <h2>Bônus de XP</h2>
                    <p>Te dá um bônus de XP de 50%</p>
                    <p>400 moedas</p>
                    <button>Comprar</button>
                </td>

                <td class="item">
                    <img src="item3.jpg" alt="Item 3">
                    <h2>Bônus de XP</h2>
                    <p>Te dá um bônus de XP de 25%</p>
                    <p>300 moedas</p>
                    <button>Comprar</button>
                </td>

               
        </table>
    </div>
    <script src="./js/Loja/loja.js"></script>

</body>

</html>
