@model IEnumerable<TCC.Application.ViewModels.ItemLojaViewModel>
@{
	ViewData["Title"] = "LogPlay - Loja";
}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/Loja/loja.css">
       
        <title>@ViewData["Title"]</title>
    </head>

<body>
    <header>
        <h1>Loja de Itens</h1>
        <div class="moedas">Suas Moedas: <span id="moedas-usuario">1000</span></div>
    </header>

    <div class="scrollable-content">
        @for (var i = 1; i <= Model.Chunk(3).Count(); i++)
        {
            <table class="item-table">
                <tr>
                    @foreach (var item in Model.Take(3))
                    {
                        <td class="item">
                            <img src="~/assets/img/Loja/@item.ImagemUrl" alt="Item 1">
                            <h2>@item.Nome</h2>
                            <p>@item.Descricao</p>
                            <p>@item.Preco</p>
                            <button id="comprar" asp-controller="Loja" asp-action="Comprar">Comprar</button>
                        </td>
                    }
            </table>
        }
    </div>

    <div class="modal-container" id="myModal">
        <div class="modal-content" id="myModal2">
            <p>Deseja confirmar a compra deste item?</p>
            <div class="button-container">
                <button class="button-modal" id="confirmButton">Sim</button>
                <button class="button-modal" id="cancelButton">Não</button>
            </div>
        </div>
    </div>

    <script src="./js/Loja/loja.js"></script>

</body>

</html>
