@model IEnumerable<TCC.Application.ViewModels.ItemLojaViewModel>
@{
	ViewData["Title"] = "LogPlay - Loja";
}

<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/Loja/loja.css">
       
        <title>@ViewData["Title"]</title>
    </head>

<body>
    <header>
        <h1>Loja de Itens</h1>
        <div class="moedas">Suas Moedas: <span id="moedas-usuario">1000</span></div>
    </header>

    
    <div class="scrollable-content">
        
        <table class="item-table">
            <tr>
                <td class="item">
                    <img src="~/assets/img/Loja/75-XP.png" alt="Item 1">
                    <h2>Bônus de XP</h2>
                    <p>Bônus de XP de 75%</p>
                    <p>500 moedas</p>
                    <button>Comprar</button>
                </td>

                <td class="item">
                    
                    <img src="~/assets/img/Loja/50-XP.png" alt="Item 2">
                    <h2>Bônus de XP</h2>
                    <p>Bônus de XP de 50%</p>
                    <p>400 moedas</p>
                    <button>Comprar</button>
                </td>

                <td class="item">
                    <img src="~/assets/img/Loja/25-XP.png" alt="Item 3">
                    <h2>Bônus de XP</h2>
                    <p>Bônus de XP de 25%</p>
                    <p>300 moedas</p>
                    <button>Comprar</button>
                </td>

                
               
        </table>
        
    </div>
    

   
    <div class="scrollable-content">
        
        <table class="item-table">
            <tr>
                <td class="item">
                    <img src="~/assets/img/Loja/250-XP.png" alt="Item 1">
                    <h2>Pacote de XP</h2>
                    <p>Receba 250 em XP</p>
                    <p>450 moedas</p>
                    <button>Comprar</button>
                </td>

                <td class="item">
                    <img src="~/assets/img/Loja/500-XP.png" alt="Item 2">
                    <h2>Pacote de XP</h2>
                    <p>Receba 500 em XP</p>
                    <p>900 moedas</p>
                    <button>Comprar</button>
                </td>

                <td class="item">
                    <img src="~/assets/img/Loja/1000-XP.png" alt="Item 3">
                    <h2>Pacote de XP</h2>
                    <p>Receba 1000 em XP</p>
                    <p>1,800 moedas</p>
                    <button>Comprar</button>
                </td>

               
        </table>
        
    </div>

</body>

</html>
