@font-face {
    font-family: 'TiltNeon';
    src: url("../../Fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: TiltNeon;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

.main-forgot-password {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-forgot-password {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #2f2841;
}

    .left-forgot-password > h1 {
        color: #00ff88;
        font-size: 2vw;
        margin: 0;
    }

    .left-forgot-password > p {
        color: #77ffc0;
        font-size: 1.4vw;
        margin: 0px 0px 20px 0px;
    }

.left-forgot-password > img {
    width: 35vw;
}

.right-forgot-password {
    display: flex;
    width: 50vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-forgot-password {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-forgot-password > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    font-size: 2vw;
}


.text-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 10px 10px 10px;
}

.text-field > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.text-field > label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.text-field > input::placeholder {
    color: #f0ffff94;
}

.botao-reset-pwd {
    width: 100%;
    padding: 12px 0;
    margin: 25px 25px 10px 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    font-family: TiltNeon;
    font-size: 16pt;
}


.back-link > p {
    color: #f0ffff94;
}

.back-link > a {
    color: #f0ffff94;
    text-decoration: none;
    margin: 5px
}

.back-link > a:hover {
    color: #00ff88;
}

.text-danger {
    color: red;
    margin-top: 10px;
}

.validation-summary-errors {
    margin: 0;
    padding-left: 0
}

.validation-summary-errors > ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    list-style-type: none;
}

@media only screen and (max-width: 950px) {
    .card-forgot-password {
        width: 85%
    }
}

@media only screen and (max-width:600px) {
    .main-forgot-password {
        flex-direction: column;
    }

    .left-forgot-password > h1,p {
        display: none;
    }

    .left-forgot-password {
        width: 60%;
        height: auto;
        background: #201b2c;
    }

    .right-login {
        width: 60%;
        height: auto;
    }

    .left-forgot-password > img {
        width: 45vh;
    }

    .right-forgot-password {
        width: 80vw;
    }

    .card-forgot-password {
        width: 100%;
        padding: 20px 25px;
    }

    .card-forgot-password > h1 {
        font-size: 4vw;
    }

    .text-field > label {
        font-size: 12pt;
    }
    .text-field > input {
        padding: 10px;
        font-size: 10pt;
    }

    .botao-reset-pwd {
        padding: 8px 1px;
        letter-spacing: 0px;
        font-size: 12pt;
    }
}