@font-face {
    font-family: 'TiltNeon';
    src: url("../../Fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: TiltNeon;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

.main-forgot-confirmation {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-content > h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    font-size: 3vw;
}

.card-content > p {
    color: #77ffc0;
    font-weight: 800;
    margin: 10px;
    font-size: 1.5vw;
}

.card-content > a {
    margin: 15px 10px 0px 10px;
    text-decoration: none;
    color: #f0ffff94;
    font-size: 1.3vw;
}

.card-content > a:hover {
    color: #00ff88;
}

@media only screen and (max-width: 950px) {
    .card-content {
        width: 90%
    }

    .card-content > h1 {
        font-size: 4vw;
    }

    .card-content > p {
        font-size: 3.5vw;
        width: 100%
    }

    .card-content > a {
        font-size: 3vw;
    }
}