@{
    ViewData["Title"] = "LogPlay";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>

<div class="body-home">
    <div class="wrapper">
        <main>
            <!-- Paralax da imagem -->

            <section class="module parallax parallax-1">
                <div class="apresentacao">
                    <h1>Bem-vindo à Escola Divertida!</h1>
                    <h2>LogPlay</h2>
                </div>
                <section class="teste">
                    <div class="apresentacao2 ">
                        <p>Explore o mundo da programação. </p>
                    </div>
                </section>
            </section>


        </main>
    </div>

    <!-- Texto explicativo sobre por que estudar programação -->
    <div class="imagem-texto">


        <div class="imagem1">

            <img src="~/assets/img/Home/playing-with-dreidels-animate.svg" alt="Minha Figura">

        </div>


        <div class="texto0">

            <h2>Por que Estudar Programação?</h2>
            <p>
                A programação é uma habilidade essencial no mundo digital de hoje.
                Ela permite que você crie sites, aplicativos e jogos incríveis.
                Além disso, a programação ajuda a desenvolver o pensamento lógico, resolução de problemas e criatividade.
                Com a programação, você pode transformar suas ideias em realidade!
            </p>

        </div>

        <div class="imagem0">

            <img src="~/assets/img/Home/playing-with-dreidels-animate.svg" alt="Minha Figura">

        </div>
    </div>
    <div class="titulo-cursos">

        <h2 class="titulo-item">
            O que voce quer aprender hoje?
        </h2>
    </div>
    <div class="service-container">
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <img class="icone" src="~/assets/img/Icons/variaveis.png" alt="Tipos de Dados">
                </div>
                <div class="service-item-card-title">
                    <h3>Variáveis</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Introdução às Variáveis</li>
                            <li>Tipos de Variáveis</li>
                            <li>Declaração e Atribuição de Variáveis</li>
                            <li>Escopo de Variáveis</li>
                            <li>Exercícios Práticos </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <img class="icone" src="~/assets/img/Icons/Matriz.png" alt="Tipos de Dados">
                </div>
                <div class="service-item-card-title">
                    <h3>Matrizes</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Introdução às Matrizes </li>
                            <li>Declaração e inicialização de Matrizes</li>
                            <li>Acesso a elementos de Matrizes</li>
                            <li>Operações com Matrizes</li>
                            
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <img class="icone" src="~/assets/img/Icons/armazenamento-de-banco-de-dados (1).png" alt="Tipos de Dados">
                </div>
                <div class="service-item-card-title">
                    <h3>Estrutura de Dados</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Introdução às Matrizes </li>
                            <li>Declaração e inicialização de Matrizes</li>
                            <li>Acesso a elementos de Matrizes</li>
                            <li>Operações com Matrizes</li>
                            
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <img class="icone" src="~/assets/img/Icons/laco.png" alt="Tipos de Dados">
                </div>
                <div class="service-item-card-title">
                    <h3>Laços de Repetição</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Introdução aos Laços de Repetição</li>
                            <li>Laço "for"</li>
                            <li>Laço "while"</li>
                            <li>Laço "do-while"</li>
                            
                        </ul>
                    </span>
                </div>
            </div>
        </div>

        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <img class="icone" src="~/assets/img/Icons/vetor.png" alt="Tipos de Dados">
                </div>
                <div class="service-item-card-title">
                    <h3>Vetores</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Introdução a Vetores</li>
                            <li>Declaração e inicialização de Vetores</li>
                            <li>Acesso a elementos de Vetores</li>
                            <li>Operações com Vetores</li>
                            
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <img class="icone" src="~/assets/img/Icons/estrutura.png" alt="Tipos de Dados">
                </div>
                <div class="service-item-card-title">
                    <h3>Tipos de Dados</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Introdução a Vetores</li>
                            <li>Declaração e inicialização de Vetores</li>
                            <li>Acesso a elementos de Vetores</li>
                            <li>Operações com Vetores</li>
                            
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="botao-cursos">
        <a class="btn btn-primary" asp-area="" asp-controller="Cursos" asp-action="Index">
            Conheça Todos os Cursos
        </a>
    </div>



    @*  <div class="store-banner">
    <div class="banner-content">
    <h2>Visite Nossa Loja Online</h2>
    <p>Encontre os melhores cursos de programação!</p>
    <a href="/loja" class="btn btn-primary">Explorar Agora</a>
    </div>
    </div> *@

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="imagem-texto">
                    <div class="imagem1">
                        <img src="~/assets/img/Home/moca-mobile.svg" alt="Moça no celular">
                    </div>
                    <div class="texto1">
                        <h4>Conquiste seu Lugar no Topo</h4>
                        <p>Se mantenha no topo do ranking assistindo aulas e realizando logins consecutivos</p>
                        <div class="botao-ranking">
                            <a class="btn btn-primary" asp-area="" asp-controller="Cursos" asp-action="Index">
                                Entre Nesta Disputa
                            </a>
                        </div>

                    </div>
                    <div class="imagem1">
                        <img src="~/assets/img/Home/moca-mobile.svg" alt="Minha Figura">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="imagem-texto">
                    <div class="imagem2">
                        <img src="~/assets/img/Home/rapaz-mobile.svg" alt="Moça no celular">
                    </div>
                    <div class="texto1">
                        <h4>Vamos Desvendar O Mistério Da Lógica Juntos?</h4>
                        <p>Essa pergunta é o ponto de partida para uma emocionante jornada de aprendizado e crescimento.</p>
                        <div class="botao-ranking">
                            <a class="btn btn-primary" asp-area="" asp-controller="Cursos" asp-action="Index">
                                Vamos lá
                            </a>
                        </div>

                    </div>
                    <div class="imagem2">
                        <img src="~/assets/img/Home/rapaz-mobile.svg" alt="Moça no celular">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="imagem-texto">
                    <div class="imagem3">
                        <img src="~/assets/img/Home/rapaz-mobile.svg" alt="Moça no celular">
                    </div>
                    <div class="texto1">
                        <h4>Fortuna e Diversão: A Loja de Pontuações</h4>
                        <p>Acumule moedas enquanto joga e troque por itens incríveis na loja para elevar sua pontuação e desbloquear recursos exclusivos.</p>
                        <div class="botao-ranking">
                            <a class="btn btn-primary" asp-area="" asp-controller="Cursos" asp-action="Index">
                                Vamos lá
                            </a>
                        </div>

                    </div>
                    <div class="imagem2">
                        <img src="~/assets/img/Home/rapaz-mobile.svg" alt="Moça no celular">
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="matricula">
        <div class="apresentacao-2">

            <h2>Construa Seu Futuro Com Nossa Comunidade</h2>

        </div>
        <div class="botao-matricula">
            <a class="btn btn-primary" asp-area="Identity" asp-page="/Login/Registrar">
                Matricule-se
            </a>
        </div>
    </section>


</div>

@section Scripts
    {
    <script src="~/npm/scrollreveal/dist/scrollreveal.min.js" asp-append-version="true"></script>
    <script src="~/js/home.js"></script>



    }
