@{
    ViewData["Title"] = "LogPlay";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>

<div class="body-home">
    <div class="wrapper">
        <main>
            <!-- Paralax da imagem -->

            <section class="module parallax parallax-1">
                <div class="apresentacao">
                    <h1>Bem-vindo à Escola Divertida!</h1>
                    <h2>LogPlay</h2>
                </div>
                <section class="teste">
                    <div class="apresentacao2 ">
                        <p>Explore o mundo da programação. </p>
                    </div>
                </section>
            </section>


        </main>
    </div>

    <!-- Texto explicativo sobre por que estudar programação -->
    <div class="imagem-texto">


        <div class="imagem1">

            <img src="~/assets/img/Home/playing-with-dreidels-animate.svg" alt="Minha Figura">

        </div>


        <div class="texto1">

            <h2>Por que Estudar Programação?</h2>
            <p>
                A programação é uma habilidade essencial no mundo digital de hoje.
                Ela permite que você crie sites, aplicativos e jogos incríveis.
                Além disso, a programação ajuda a desenvolver o pensamento lógico, resolução de problemas e criatividade.
                Com a programação, você pode transformar suas ideias em realidade!
            </p>

        </div>

        <div class="imagem1">

            <img src="~/assets/img/Home/playing-with-dreidels-animate.svg" alt="Minha Figura">

        </div>
    </div>
    <div class="titulo-cursos">

        <h2 class="titulo-item">
            O que voce quer aprender hoje?
        </h2>
    </div>
    <div class="service-container">
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <i class="fa-solid fa-desktop "></i>
                </div>
                <div class="service-item-card-title">
                    <h3>Variáveis</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Tipos de variáveis </li>
                            <li>Declaração e atribuição</li>
                            <li>Escopo de variáveis.</li>
                            <li>Exercícios práticos </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <div class="service-item-card-title">
                    <h3>Matrizes</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Tipos de variáveis </li>
                            <li>Declaração e atribuição</li>
                            <li>Escopo de variáveis.</li>
                            <li>Exercícios práticos </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <div class="service-item-card-title">
                    <h3>Estrutura de Dados</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Tipos de variáveis </li>
                            <li>Declaração e atribuição</li>
                            <li>Escopo de variáveis.</li>
                            <li>Exercícios práticos </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <div class="service-item-card-title">
                    <h3>Laços de Repetição</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Tipos de variáveis </li>
                            <li>Declaração e atribuição</li>
                            <li>Escopo de variáveis.</li>
                            <li>Exercícios práticos </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>

        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <div class="service-item-card-title">
                    <h3>Vetores</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Tipos de variáveis </li>
                            <li>Declaração e atribuição</li>
                            <li>Escopo de variáveis.</li>
                            <li>Exercícios práticos </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
        <div class="service-item">
            <div class="service-item-card card">
                <div class="service-item-card-icon">
                    <i class="fa-solid fa-desktop"></i>
                </div>
                <div class="service-item-card-title">
                    <h3>Tipos de Dados</h3>
                </div>
                <div class="service-item-card-descrition">
                    <span>
                        <ul>
                            <li>Tipos de variáveis </li>
                            <li>Declaração e atribuição</li>
                            <li>Escopo de variáveis.</li>
                            <li>Exercícios práticos </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="botao-cursos">
        <a class="btn btn-primary" asp-area="" asp-controller="Cursos" asp-action="Index">
            Conheça Todos os Cursos
        </a>
    </div>



    @*  <div class="store-banner">
    <div class="banner-content">
    <h2>Visite Nossa Loja Online</h2>
    <p>Encontre os melhores cursos de programação!</p>
    <a href="/loja" class="btn btn-primary">Explorar Agora</a>
    </div>
    </div> *@

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="imagem-texto">
                    <div class="imagem1">
                        <img src="~/assets/img/Home/moca-mobile.svg" alt="Moça no celular">
                    </div>
                    <div class="texto1">
                        <h2>Visite Nossa Loja Online</h2>
                        <p>Encontre os melhores cursos de programação!</p>
                        <a href="/loja" class="btn btn-primary">Explorar Agora</a>
                    </div>
                    <div class="imagem1">
                        <img src="~/assets/img/Home/moca-mobile.svg" alt="Minha Figura">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="imagem-texto">
                    <div class="imagem2">
                        <img src="~/assets/img/Home/rapaz-mobile.svg" alt="Moça no celular">
                    </div>
                    <div class="texto1">
                        <h2>Visite Nossa Loja Online</h2>
                        <p>Encontre os melhores cursos de programação!</p>
                        <a href="/loja" class="btn btn-primary">Explorar Agora</a>
                    </div>
                    <div class="imagem2">
                        <img src="~/assets/img/Home/rapaz-mobile.svg" alt="Moça no celular">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="imagem-texto">
                    <div class="imagem3">
                        <img src="~/assets/img/Home/moca-mobile.svg" alt="Moça no celular">
                    </div>
                    <div class="texto1">
                        <h2>Visite Nossa Loja Online</h2>
                        <p>Encontre os melhores cursos de programação!</p>
                        <a href="/loja" class="btn btn-primary">Explorar Agora</a>
                    </div>
                    <div class="imagem3">
                        <img src="~/assets/img/Home/moca-mobile.svg" alt="Minha Figura">
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="module parallax parallax-2">
        <div class="apresentacao-2">

            <h2>Construa Seu Futuro Com Nossa Comunidade</h2>

        </div>
        <div class="botao-matricule-se">
            <a class="btn btn-primary" asp-area="" asp-controller="Cursos" asp-action="Index">
                Matricule-se
            </a>
        </div>
    </section>


</div>

@section Scripts
    {
    <script src="~/npm/scrollreveal/dist/scrollreveal.min.js" asp-append-version="true"></script>
    <script src="~/js/home.js"></script>



    }
