body {
    background: black;
}

h2 {
    color: white;
}

.filter {
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.profiles img {
    margin-right: -6px;
}

.col-md-4 {
    margin-top: 26px;
}

.bg-azul {
    background: #092d5d;
}
