body *{
    box-sizing: border-box;
}

@font-face {
    font-family: 'TiltNeon';
    src: url("../../Fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: TiltNeon;
}
