@font-face {
    font-family: 'TiltNeon';
    src: url("../../Fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
    font-weight: normal;
    font-style: normal;
}

.curso-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
}

.banner-curso {
    padding: 20px;
    margin: 55px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%,#000 100%);
}

.titulo-curso{
    color: var(--verde-destaque);
    font-size: 4em;
}

.descricao-curso {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}

.botao-iniciar a {
    margin-top: 20px;
    margin-bottom: 1px;
    outline-color: transparent;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent; /* Cor de fundo do botão */
    color: #00ff88;
    text-decoration: none;
    border: 2px solid #00ff88; /* Cor da borda vermelha */
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.botao-iniciar a:hover {
    background-color: darkgreen;
    border: 2px solid white;
}

.curso-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.curso-aulas {
    width: 50%;
}

.curso-sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    background: #2f2841;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
    padding: 30px 35px;
    margin-top: 30px
}

.sidebar-title {
    color: var(--verde-destaque);
    font-weight: 700;
    margin: 0;
    font-size: 1.5vw;
}

.info-item {
    width: 100%;
    margin: 8px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.model-data {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-left: auto;
}

.matricular-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
}