@model TCC.Application.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<body>
    <div class="curso-main-container">
        <div class="banner-curso">
            <h1 class="titulo-curso">Variáveis</h1>
            <p class="descricao-curso">Aprenda os fundamentos essenciais para utilizar variáveis</p>
            <div class="botao-iniciar">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Login/Registrar">
                    Iniciar curso
                </a>
            </div>
        </div>
        <div class="curso">
            <div class="curso-container">

            </div>
            <div class="curso-sidebar">

            </div>
        </div>
        <div class="matricular-section">

        </div>
    </div>
</body>



@section Styles{
    <link href="~/css/Cursos/detalhes.css" rel="stylesheet" type="text/css" />
}