@model TCC.Application.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<body>
    <div class="main-container">
        <div class="banner-curso">

        </div>
        <div class="curso">
            <div class="curso-container">

            </div>
            <div class="curso-sidebar">

            </div>
        </div>
    </div>
</body>



@section Styles{
    <link href="~/css/Cursos/detalhes.css" rel="stylesheet" type="text/css" />
}