@model TCC.Application.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<body>
    <div class="curso-main-container">
        <div class="banner-curso">
            <h1 class="titulo-curso">Variáveis</h1>
            <p class="descricao-curso">Aprenda os fundamentos essenciais para utilizar variáveis</p>
            <div class="botao-iniciar">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Login/Registrar">
                    Iniciar curso
                </a>
            </div>
        </div>
        <div class="curso-container">
            <div class="curso-aulas">
                <h2>Variáveis</h2>
                <div class="">

                </div>
            </div>
            <div class="curso-sidebar">
                <div class="sidebar-title">
                    Informações Gerais
                </div>
                <div>
                    <span>Duração:</span> 
                </div>
                <div>
                    <span>Aulas:</span>
                </div>
                <div>
                    <span>Exercícios:</span>   
                </div>
                <div>
                    <span>Nível:</span>
                </div>
            </div>
        </div>
        <div class="matricular-section">
            <div class="botao-iniciar">
                <a class="btn btn-primary" asp-area="Identity" asp-page="/Login/Registrar">
                    Iniciar curso
                </a>
            </div>
        </div>
    </div>
</body>



@section Styles{
    <link href="~/css/Cursos/detalhes.css" rel="stylesheet" type="text/css" />
}