@model TCC.Application.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "LogPlay - Cursos";
}

<body>
    <div class="main-container">
        <section class="banner-curso">

        </section>
    </div>
</body>



@section Styles{
    <link href="~/css/Cursos/detalhes.css" rel="stylesheet" type="text/css" />
}