@model IEnumerable<TCC.Application.ViewModels.CursoViewModel>

@{
    ViewData["Title"] = "LogPlay - Cursos";
}


<div class="container mt-5 mb-5">
    <div class="row mt-1">
        @foreach (var curso in Model)
        {
            <div class="col-md-4">
                <a  asp-controller="Cursos" asp-action="Detalhes" asp-route-name="@curso.Nome">
                    <div class="p-card bg-dark p-2 rounded px-3">
                        <div class="d-flex align-items-center credits"><img src="https://i.imgur.com/hlz6G90.png" width="16px"><span class="text-white ml-2">2 credits</span></div>
                        <h5 class="mt-2 text-white">@Html.DisplayFor(t => curso.Nome)</h5><span class="badge badge-primary py-1 mb-2">integrations</span>
                        <span class="d-block mb-5 text-white">@Html.DisplayFor(t => curso.Descricao)</span>
                        <span class="d-block mb-5 text-white">Duração: @Html.DisplayFor(t => curso.Duracao) minutos</span>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

@section Styles {
    <link href="~/css/Cursos/cursos.css" rel="stylesheet" type="text/css" />
}