@using Microsoft.AspNetCore.Identity
@using TCC.Domain.Models;

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<style>
    .btn-success{
        background-color: green;
        padding: 6px;
    }
   
   .btn-danger{
           padding: 6px;
       }
</style>

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-danger text-white">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Login/Registrar">Matricule-se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white btn btn-success" id="login" asp-area="Identity" asp-page="/Login/Entrar">Entrar</a>
    </li>
}
</ul>
