@model IEnumerable<TCC.Application.ViewModels.UsuarioViewModel>

@{
    ViewData["Title"] = "LogPlay - Ranking";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Ranking/ranking.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
  
</head>
<body>
    <header>
        <h1>Ranking de Alunos</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Posição</th>
                    <th>Nome do Aluno</th>
                    <th>XP</th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var aluno in Model)
                {
                    <tr>
                        <td>@(Model.ToList().IndexOf(aluno)+1)</td>
                        <td>@Html.DisplayFor(a => aluno.Nome)</td>
                        <td>@Html.DisplayFor(a => aluno.Id)</td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>

                    

@section Styles{
    <link rel="stylesheet" href="~/css/Ranking/ranking.css" asp-append-version="true" />
}