@{
    ViewData["Title"] = "LogPlay - Ranking";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking de Estudantes</title>
    <style>

        body, h1, h2, p, table {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            font-size: 36px;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        thead {
            background-color: #333;
            color: #fff;
        }

        tfoot {
            background-color: #ddd;
        }

        footer {
            text-align: center;
            padding: 10px 0;
            background-color: #333;
            color: #fff;
        }

    </style>

</head>
<body>
    <header>
        <h1>Ranking de Alunos</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Posição</th>
                    <th>Nome do Aluno</th>
                    <th>Pontuação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Alan</td>
                    <td>95</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Wescley</td>
                    <td>90</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Matheus</td>
                    <td>88</td>
                </tr>
                <!-- Adicione mais linhas conforme necessário -->
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2023 Ranking de Alunos</p>
    </footer>
</body>
</html>