@model IEnumerable<TCC.Application.ViewModels.UsuarioViewModel>

@{
    ViewData["Title"] = "LogPlay - Ranking";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking de Estudantes</title>
    <style>

        
        body, h1, h2, p, table {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: var(--roxo-escuro);
        }

        header {
            background-color: var(--roxo-escuro);
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        h1 {
            font-size: 36px;
        }

        main {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: var(--roxo-claro1); 
            border-radius: 5px;
            box-shadow: 0px 0px 10px black;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
        }

        thead {
            background-color: var(--roxo-escuro); 
            color: #fff;
        }

        tfoot {
            background-color: rgba(221, 221, 221, 0.8); 
        }

        footer {
            text-align: center;
            padding: 10px 0;
            background-color: var(--roxo-escuro);
            color: #fff;
        }


    </style>

</head>
<body>
    <header>
        <h1>Ranking de Alunos</h1>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Posição</th>
                    <th>Nome do Aluno</th>
                    <th>Pontuação</th>
                </tr>
            </thead>
            
            <tbody>
                @foreach (var aluno in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(a => aluno.Id)</td>
                        <td>@Html.DisplayFor(a => aluno.Id)</td>
                        <td>@Html.DisplayFor(a => aluno.Id)</td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</body>
</html>