.body-home {
    background-color: var(--roxo-escuro);
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

main {
    display: flex;
    /*display: block;*/
    background-color: rgba(0,0,0,.95);
}


section.module p {
    margin-bottom: 0;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module.content {
    padding: 40px 0;
    background-color: white;
    border-radius: 10px;
    text-align:center;

}

.imagem-texto {
    justify-content:space-evenly;        ;
    display: flex;
    background-color: #514869;
    align-items:center;
    
}

.imagem1{
    height:25%;
    width:25%;
}

.texto1 {
    height: 50%;
    width: 50%;
    text-align: center;
    text-justify: auto;
}
section.module.content1 {
    padding: 40px 0;
    background-color: #514869;
    border-radius: 10px;
    text-align: center;
}

section.module.content2 {
    padding: 40px 0;
    background-color: blue;
    border-radius: 10px;
    text-align: center;
}


section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)40%,#000 100%);
}


#header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
}


.apresentacao {
    padding: 20px;
    margin-top: 20px;
}

    .apresentacao h1 {
        font-family: TiltNeon;
        color: rgba(255,255,255);
        font-size: 3em;
        margin: 0 auto;
    }

    .apresentacao h2 {
        color: var(--verde-destaque);
        font-family: TiltNeon;
        font-size: 3em;
        margin: 0 auto;
    }

.apresentacao2 {
    color: rgba(255, 255, 255, 0.75);
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 1.5em;
    animation: barra 500ms steps(40) infinite normal, typing 6s steps(40) 1s normal both;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 100%; /* Defina a largura conforme necessário */
}


.imagem-menor-altura {
    height: 150px; /* Defina a altura desejada em pixels ou outra unidade de medida */
    width: 100%;
}

.carousel-caption p,h2 {
   font-size:15px;

}

section.module.parallax {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    justify-content: center;
    width: 100% !important;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--roxo-escuro);
}

section.module.parallax-1 {

    /*background-color: var(--roxo-escuro);*/
    /* background: linear-gradient(rgba(33, 37, 41, 0), rgba(255, 255, 255, .3)); */
}

section.module.parallax-2 {
    background-image: url("../assets/img/Home/fundoParallax.jpg");
    /* background: linear-gradient(rgba(33, 37, 41, 0), rgba(255, 255, 255, .3)); */
}

section.module.parallax-3 {
    background-image: url("../assets/img/Home/fundoParallax.jpg");
    /* background: linear-gradient(rgba(33, 37, 41, 0), rgba(255, 255, 255, .3)); */
}


@keyframes barra {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

.typing-animation {
    animation-name: barra;
    animation: barra 300ms infinite normal, typing 4s 1s normal;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 31em;
    }
}
