html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--roxo-escuro);
    color: white;
    font-family: 'TiltNeon';
}

.navbar {
    background-color: var(--roxo-claro1) !important;
}

.navbar-brand{
    color: var(--verde-destaque);
}

.navbar .navbar-brand {
    font-size: 20px;
}

.background-grey{
    background-color: #141414
}




@font-face  {
    font-family: 'TiltNeon';
    src:url("../Fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --verde-destaque: #00ff88;
    --roxo-escuro: #201b2c;
    --roxo-claro1: #2f2841;
    --roxo-claro2: #514869;
}

.swal2-container.swal2-center > .swal2-popup {
    background-color: var(--roxo-claro1) !important;
}

.swal2-html-container > h2, .swal2-title {
    color: var(--verde-destaque) !important;
}

.swal2-html-container {
    color: white !important
}