html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
  color:white;
}

.navbar {
    background-color: var(--roxo-claro1) !important;
}

.navbar-brand{
    color: var(--verde-destaque);
}

.navbar .navbar-brand {
    font-size: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.background-grey{
    background-color: #141414
}


@font-face  {
    font-family: 'TiltNeon';
    src:url("../Fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
    font-weight: normal;
    font-style: normal;
}

:root {
    --verde-destaque: #00ff88;
    --roxo-escuro: #201b2c;
    --roxo-claro1: #2f2841;
    --roxo-claro2: #514869;
}