html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}

@font-face  {
    font-family: 'TiltNeon';
    src:url("../Fonts/TiltNeon-Regular-VariableFont_XROT,YROT.ttf");
    font-weight: normal;
    font-style: normal;
}

@keyframes barra {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color:transparent;
    }
}
