@page
@using TCC.UI.Web.Areas.Identity.Pages.Login;
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueci minha senha";
}

@{
    Layout = "";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Login/forgotPasswordConfirmation.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-forgot-confirmation">
        <div class="card-content">
            <h1>@ViewData["Title"]</h1>
            <p>
                Por favor verifique seu email para alterar a senha.
            </p>
            <a asp-page="./Home/Index">Voltar para a home</a>
        </div>
    </div>
</body>


